.entry-content a.more-link {
    white-space: nowrap;
}
.entry-header {
    margin-bottom: 0;
}
.entry-content {
    margin-top: 0;
    margin-bottom: 2rem;
}
.entry-content p {
    margin-top: 0;
}
.custom-header {
    background: radial-gradient( ellipse farthest-side at 100% 100%,
        #F8FFF3 10%,
        #85D8CE 50%,
        #085078 120% );
            }
#header-image {
        height: 200px;
}
#header-image .site-title {
    font-size: 4rem;
}
#header-image .site-description {
    font-size: 0.9rem;
}